.centrado{
    text-align: center;
}

body{
    background-color:#080006;
}

p{
    color: chocolate;
    text-align: left;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
h1{
    color: darkorange;
}
h2{
    color: darkgoldenrod;
}
h3{
    color:burlywood
}

img{
    background-color: darkgrey;
}